@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
button,
input,
select,
textarea {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
html {
  background-color: rgb(91, 91, 91);
  font-size: 1em;
  line-height: 1.4;
}
#wrapper {
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
}
header img {
  border: 2px solid #ccc;
  margin-right: 0;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}
